.Home {
    background-color:white;
    padding: 15px;
    color: black;
    text-align: center;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .Home {
      padding: 10px;
      font-size: 20px;
    }
  }
  